<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login pge</h1>
    <form action="login" method="post">
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="enter email" />
        <label for="password">password</label>
        <input type="password" name="password" placeholder="enter password" />
      </div>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
